# Ignore Python virtual environment
.venv/
venv/
ENV/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VSCode settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build artifacts
build/
dist/
*.egg-info/
# Ignore notebooks
notebooks/

# Ignore generated reports and evaluation files
reports/
data/